
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.log
*.lastbuildstate
*.exe
*.pdb
*.iobj
*.ipdb
*.recipe
*.suo
*.recipe
Client/.vs/Client/v16/.suo
*.log
*.tlog
*.tlog
*.tlog
Client/Client/x64/Release/vc142.pdb
Client/Client/x64/Release/main.obj
Client/Client/x64/Release/Client.tlog/link.write.1.tlog
Client/Client/x64/Release/Client.tlog/link.read.1.tlog
Client/Client/x64/Release/Client.tlog/link.command.1.tlog
Client/Client/x64/Release/Client.tlog/Client.write.1u.tlog
Client/Client/x64/Release/Client.tlog/Client.lastbuildstate
Client/Client/x64/Release/Client.tlog/CL.write.1.tlog
Client/Client/x64/Release/Client.tlog/CL.read.1.tlog
Client/Client/x64/Release/Client.tlog/CL.command.1.tlog
Client/Client/x64/Release/Client.log
Client/Client/x64/Release/Client.exe.recipe
Client/.vs/Client/v16/.suo
*.obj
*.lastbuildstate
*.tlog
*.log
*.recipe
*.exe
Client/x64/Release/Client.exe
Client/x64/Release/Client.iobj
Client/x64/Release/Client.pdb
Client/x64/Release/Client.ipdb
Client/x64/Release/Client.iobj
Client/x64/Release/Client.exe
*.idb
Client/cryptopp840/x64/cryptlib/Debug/cryptlib.pch
Client/cryptopp840/x64/cryptlib/Debug/cryptlib.vcxproj.FileListAbsolute.txt
Client/cryptopp840/x64/cryptlib/Release/cryptlib.pch
Client/cryptopp840/x64/Output/Debug/cryptlib.lib
Client/cryptopp840/x64/Output/Release/cryptlib.lib
